.pro__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .pro__top{
        display: flex;
        justify-content: space-between;
        h2{
            text-transform: capitalize;
        }
    }
    .pro__bottom{
        display: flex;
        justify-content: space-between;
        column-gap: 20px;
        .pro__tab{
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 100%;
            .pro__info__select{
                select{
                    width: 100%;
                    height: 40px;
                    border-radius: 10px;
                    border: 1px solid rgba(0, 0, 0, 0.216);
                    padding: 0.5rem 1rem;
                    outline: none;
                }
            }
        }
    }
}