section{
    display: flex;
    justify-content: space-between;
    height: 60px;
    .top__left{
        padding: 1rem;
        display: flex;
        background-color: red;
        align-items: center;
        img{
            height: 35px;
            width: 35px;
        }
        span{
            font-size: 20px;
            font-weight: 700;
            font-family: var(--ff-primary);
        }
    }

    .top__middle{
        background-color: red;
        width: 70rem;
        display: flex;
        justify-content: space-between;
        padding: 1rem;
        .browse__section{

        }
    }

    .top__right{
        padding: 1rem;
        background-color: red;
        width: 20rem;
        display: flex;
        justify-content: space-evenly;
        .profile_pic{
            height: 25px;
            width: 25px;
            background-color: black;
            border-radius: 50%;
        }
    }
}